body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(background.png);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form {
  margin-top: 20px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #e6eeff;
  width: 100%;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
    }

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
    }

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 600px) {
  .registration-form {
    max-width: 300px;
    margin-top: 150px;
  }
}   



